/* Copyright © 2019 by CommanderDonkey */
/* Read README.md for using */
@font-face {
    font-family: PricedownBL;
    src: url(pricedownbl.ttf);
}

body {
	display: block;
}

.money {
    position: absolute;
    right: 2.3vw;
    top: 4vw;
	display: none;
	font-size:2.7vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(0, 214, 29)
}

.schwarzmoney {
    position: absolute;
	display: none;
    right: 2.3vw;
    top: 6vw;
	font-size:2.7vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}

.voice1 {
    position: absolute;
	display: none;
    right: 2.3vw;
    top: 8vw;
	 height: 120px;
	font-size:3vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}

.voicemuted {
    position: absolute;
	display: none;
    right: 2.3vw;
    top: 8vw;
	 height: 120px;
	font-size:3vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}


.voice2 {
    position: absolute;
	display: none;
    right: 2.3vw;
    top: 8vw;
	 height: 120px;
	font-size:3vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}


.voice3 {
    position: absolute;
	display: none;
    right: 2.3vw;
    top: 8vw;
	 height: 120px;
	font-size:3vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}


.voice4 {
    position: absolute;
	display: none;
    right: 2.3vw;
    top: 8vw;
	 height: 120px;
	font-size:3vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}
.funk {
    position: absolute;
	display: none;
    right: 2.5vw;
    top: 11.5vw;
	 height: 120px;
	font-size:3vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}

.funke {
    position: absolute;
	display: none;
    right: 2.5vw;
    top: 11.5vw;
	 height: 120px;
	font-size:3vh;
	font-family:PricedownBL,sans-serif;
	letter-spacing:.2vh;
	text-shadow:-.1vh 0 #000,0 .1vh #000,.1vh 0 #000,0 -.1vh #000;
	color: rgb(255,0,0)
}
