@font-face {
    font-family: 'PEL';
    src: url('utils/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'PM';
    src: url('utils/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'PT';
    src: url('utils/fonts/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'OSR';
    src: url('utils/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OSL';
    src: url('utils/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'PriceDow';
    src: url('utils/fonts/pricedow.ttf') format('truetype');
}

body {
    user-select: none;
    background: none;
    overflow-y: hidden;
}